<div class="img-conainer">
  <div class="column">
    <%= image_tag ("/../assets/placeholder.png"), alt:"Series" %>
    <div class="text-on-picture">SERIES</div>
    <p>Popular Series</p>
  </div>
  <div class="column">
    <%= image_tag ("/../assets/placeholder.png"), alt:"Movies" %>
    <div class="text-on-picture">MOVIES</div>
    <p>Popular Movies</p>
  </div>
</div>