<div class="footer">
	<div class="bottom-navbar">
	  <a href="#home">Home</a>
	  <a href="#terms">Terms and Conditions</a>
	  <a href="#policyt">Privacy Policy</a>
	  <a href="#statemnt">Collection Statemnet</a>
	  <a href="#help">Help</a>
	  <a href="#account">Manage Account</a>
	</div>
	<p>Copyright © 2020 DEMO Streaming. All Rights Reserved.</p>
	<div class="socialmedia">
		<a href="#facebook">
			<embed src="/../assets/social/facebook-white.svg" height="30" width="30">
		</a>
		<a href="#twitter">
			<embed src="/../assets/social/twitter-white.svg" height="30" width="30">
		</a>
		<a href="#instagram">
			<embed src="/../assets/social/instagram-white.svg" height="30" width="30">
		</a>
		<div class="store">
      <a href="#appstore">
				<embed src="/../assets/store/app-store.svg" height="40" width="135">
			</a>
			<a href="#googleplay">
				<embed src="/../assets/store/play-store.svg" height="40" width="135">
			</a>
			<a href="#microsoftstore">
				<embed src="/../assets/store/windows-store.svg" height="40" width="110">
			</a>
    </div>
	</div>
</div>
