.img-conainer {
	padding-left: 150px;
}

.column {
  float: left;
  padding: 30px 10px;
  position: relative;
  color: white;
  overflow: hidden;
}

.column img {
	width: 130px;
	height: 200px;
	object-fit: none;
	background-color: #101010;
}

.column p {
	color: black;
}

.text-on-picture {
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  font-size: 30px;
}